# Java
*.class
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# PHP / Laravel
/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn-debug.log*

# Docker
docker-compose.override.yml

# IDE
.idea/
*.iml
.vscode/
